.inputForm {
  display: flex;
  border-top: 1px solid #D3D3D3;
  height: 5vh;
}

.textInput {
  border: none;
  border-radius: 0;
  padding: 1%;
  width: 80%;
  height: 5vh;
  font-size: 1.2em;
  margin-left: 0.2%;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background:rgb(12, 80, 12);
  padding: 15px;
  display: inline-block;
  border: none;
  width: 20%;
  height: 5vh;
  padding: 1%;
}