.lobbyContainer {
  display: flex;
  justify-content: center;
  height: 85vh; 
  width: 70vw; 
}

.chatLobby {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  height: 85vh; 
  width: 45vw;
  border: 4px solid #800020;
}

.nightButton{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  height: 8vh; 
  width: 70vw; 
}

.leaveContainer{
  display: flex;
  margin-left: 30px;
  height: 8vh;
  width: 12vw;
  border: 4px solid #800020;
}

.startContainer{
  display: flex;
  height: 8vh;
  width: 45vw;
  border: 4px solid #800020;
}

a{
  width: 100%;
}

.leaveButton{
  height: 100%;
  width: 100%;
}

.startButton{
  height: 100%;
  width: 100%;
}

@media (min-width: 481px) and (max-width: 1140px) {
  .lobbyContainer {
    margin-top: 15vh;
    padding-right: 5vw;
    height: 85vh; 
    width: 95vw;
  }

  .chatLobby {
    height: 100%;
    width: 100%;
  }

  .gameLobby{
    height: 100%;
    width: 100%;
  }

  .buttonContainer {
    padding-right: 5vw;
    padding-bottom: 20vh;
    width: 95vw;
  }
  .leaveContainer{
    width: 50%;
    margin-left: -1px;
  }
  .startContainer{
    width: 50%;
  }
  .leaveButton{
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .lobbyContainer {
    padding-right: 5vw;
    height: 65vh; 
    width: 95vw;
  }

  .chatLobby {
    height: 100%;
    width: 100%;
  }

  .gameLobby{
    height: 100%;
    width: 100%;
  }

  .buttonContainer {
    padding-right: 5vw;
    width: 95vw;
  }
  .leaveContainer{
    width: 50%;
    margin-left: -1px;
  }
  .startContainer{
    width: 50%;
  }
  .leaveButton{
    width: 100%;
  }
}


