.chatBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-end;
  background: #800020;
  height: 50px;
  width: 100%;
  padding-right: 2%;
}

.lobbyTitle {
  display: flex;
  flex: 0.5;
  padding-right: 7%;
}

.diceEnable {
  height: 3vh;
  width: 3vw;
  filter: invert(100%);
}

.diceDisable {
  height: 3vh;
  width: 3vw;
}